@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
table {
    width: 50%;
    border-spacing: 2px;
    background-color: #000;
}
table, tr, td {
    border: 1px solid black;
    color: #fff;
}
tr > td {
    padding: 20px;
    text-align: center;
}

thead > tr > th {
    height: 50px;
}
.header, .footer {
    height: 100px;
}
.header {
    background-color: #654597;
}
.footer {
    background-color: #8673a6;
}
.section, .article {
    height: 200px;
    width: 70%;
    background-color: #AB81CD;
}
.aside {
    background-color: #d2a1e1;
}